{% extends 'base.html'%}

{% block title %}gallery{% endblock %}

{% block content%}
<div class="text-center">
<h1>College Gallery</h1>
</div>
<img src="https://tse3.mm.bing.net/th?id=OIP.zJkd_R3SRzbdX33scRhH3QHaE8&pid=Api&P=0">
<img src="https://tse4.mm.bing.net/th?id=OIP.lTcgB8856pTOm7I1Iy1xRAHaFj&pid=Api&P=0">
<img src="https://tse2.mm.bing.net/th?id=OIP.EJ5-HnsTwdHabOOUqUxhSQHaDQ&pid=Api&P=0">
<img src="https://tse1.mm.bing.net/th?id=OIP.B3JrZJtAfc_mAVGZB7q_WwHaE6&pid=Api&P=0">
<img src="https://tse2.mm.bing.net/th?id=OIP.41qLnHReevrS3F_qkflCRAHaE8&pid=Api&P=0">
<img src="https://tse3.mm.bing.net/th?id=OIP.-rkZiYR-Vwh4u_Q687M8hAHaFw&pid=Api&P=0"><br>



{% endblock %}